{% extends "dashboard.html" %}


{% block dashbody %}


<div class="col-md-9">

		
<!-- 	<div class="row">
		
		{% if submit_button == 'resent-otp' %}
		<div class="col-md-3"><div class="col-md-3"><button class="btn btn-danger" href="{{ url_for('dashboard.confirm_withdrawals')}}">Cancel</button></div></div>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="Enter OTP Code">

		</div>
		<div class="col-md-3"><button class="btn btn-primary btn-block" type="submit" name="submit_button" id="submit_button" value="confim-withdrawal">Confirm Withdrawals</button></div>
		{% else %}
		<button class="btn btn-primary ml-auto" type="submit" name="submit_button" id="submit_button" value="resend-otp">Initiate Bulk Withdrawal</button>
		{% endif %}
		
	</div>
	<br> -->
	<div class="row">
		<div class="container">
			
	<table class="table">
		<thead>

			<th scope="col">#</th>
			<th scope="col">User Email</th>
			<th scope="col">Amount</th>
			<th scope="col">Action</th>
			
		</thead>
		<tbody>

		{% for tlog in trlogs %}
			<tr scope="row">
				<td>{{ loop.index }}</td>
				<td>{{ tlog.get_user().email }}</td>
				<td>{{  tlog.get_amount() }}</td>
				<td>
	
				<form action="{{url_for('dashboard.confirm_withdrawals')}}" method="post" style="width:98%;">
				<input type="hidden" name="trlog" value="{{tlog.id}}">

				<div class="form-row"  style="margin-top:5%;">
					<button class="btn btn-success col-md-5 mr-auto" name="submit_button" value='confim-withdrawal'>Accept</button>

					<button class="btn btn-danger col-md-5  ml-auto" name="submit_button" value='deny-withdrawal'>Deny</button>
				</div>



			</form></td>
			</tr>
		{% endfor %}
	
		</tbody>
	</table>

		</div>

	</div>



 


</div>


{% endblock %}


{% block extra_js %}
<script>

$('.withdrawal-list-master').on('click', function(){
	$('.withdrawal-list-child').not(this).prop('checked', this.checked);
});

</script>
{% endblock %}






