
{% extends "base.html" %}

{% block body %}
	<div class="container" style="margin-top:15%;">
		<div class="row">
		{% include "sidenav.html" %}

		{% block dashbody %}
			<div class="col-md-3">

			{% include "dash_balance.html" %}		<br>	<p><a href="{{ url_for('dashboard.deposit')}}">Make A deposit</a></p>
				<p><a href="{{ url_for('dashboard.withdrawal')}}">Make a Withdrawal</a></p></div>
			<div class="col-md-6">
				<ul class="list-group">

  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
			</div>
			{% endblock %}
		</div>
	</div>


{% endblock %}
