
{% extends "dashboard.html" %}

{% block dashbody %}

		<div class="col-md-3">
			{% include "dash_balance.html" %}
		<br>	
		
		<p><a href="{{ url_for('dashboard.withdrawal')}}">Make a Withdrawal</a></p>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="container">

				<form action="{{ url_for('dashboard.deposit') }}" id="deposit-form" method="post">
					<label for="amount">Enter Amount</label>
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1"> &#8358; </span>
					  </div>
						<input type="number" id="amount" name="amount" class="form-control col-md-6" placeholder="100 Minimum" aria-label="amount" aria-describedby="basic-addon1" required>
					</div>



					<br><button class="btn btn-success" 
					type="submit">Deposit</button></form>
				</div>
			</div>
	</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Complete Deposit</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p><div id="paystackEmbedContainer"></div></p>
			</div>
		</div>
	</div>
</div>





















{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>




<script>
	var refcode = '';
	document.getElementById('deposit-form').addEventListener('submit', function(event){
		event.preventDefault();
		var amount = parseInt(document.getElementById('amount').value, 10);
		console.log('amount is ', amount)
		console.log('typeof amount is ', typeof(amount))
		console.log('amount >= 100 is ', amount >= 100)
		console.log('typeof(amount) == number is ', typeof(amount) == 'number')
		if ((typeof(amount) == 'number') && (amount >= 100)){
			axios.post('/deposit',
					{'amount': amount}
					).then(function(response){
						console.log('response is', response);
					
					//if (data.status == 201){
						$('#exampleModal').modal('show');
						// document.getElementById('exampleModal').modal('show')
						return payWithPaystack(response.data);
					})
					.catch(function (error){
						console.log('error is', error);
					});

		} else {

			alert('minimum Deposit is 100');
			return false;

		}



		});

function payWithPaystack(data){

	refcode = data.reference;
	console.log(data.reference);
	var handler = PaystackPop.setup({
		key: "{{ config.PAYSTACK_PUBLIC_KEY }}",
		email: data.email,
		amount: data.amount,
		ref: data.reference,
		container: 'paystackEmbedContainer',
		callback: function(resp){
          alert('success. transaction ref is ' + resp.reference);
      },
      onClose: function(){
          alert('window closed');
      }
	});	
	handler.openIframe();


}


$('body').bind('change', function(){
	console.log('document changed');
	$('iframe').bind('load', function(){
		console.log('iframe loaded')
		if ($("#paystack-ok:contains('Successful')").length > 0){
			console.log('deposit res is', refcode);
			axios.get('/deposit?ref=' + refcode)
			.then(function(response){
				console.log('response is', response);
				window.location(srvres.data.url)	
			})
			.catch(function(response){
				console.log('response is', response);
				alert('Oops! an error occured!');
			})

			}
	});
	
	});

async function verifyPayment(){
		url = "{{ url_for('dashboard.deposit')}}?ref=" + refcode	
		axios.get(url				
				).then(function(response){
					console.log(response)
				}).catch(function(response){
					console.log(response)
				})
			
		return true
}

$('body').bind('change', function(){
		$('#exampleModal').bind('hide.bs.modal', function(event){

			console.log(event);
			verifyPayment();
			if (confirm('Are you sure you want to leave this page?')) {
			    location.reload();
				
				} else {

					
			    // Do nothing!
			}
			
			return false;

		});
});


</script>

{% endblock %}







