{% extends "dashboard.html" %}

{% block dashbody %}
			<div class="col-md-3">
				{% include "dash_balance.html" %}
	<br><p><a href="{{ url_for('dashboard.deposit')}}">Make A deposit</a></p><ul class="list-group">

  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</div>
			<div class="col-md-6">
							<div class="row">
				<div class="container">

					<form action="{{ url_for('dashboard.withdrawal') }}" id="withdrawal-form" method="post">
						<label for="amount">Enter Amount</label>
					
				
									<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1"> &#8358; </span>
					  </div>
							<input type="number" id="amount" name="amount" class="form-control col-md-6" placeholder="1000 Minimum" aria-label="amount" aria-describedby="basic-addon1">
					</div>



						<br><button class="btn btn-success" 
						type="submit">Withdraw</button></form>
					</div>
				</div>
			</div>


{% endblock %}



{% block extra_js %}



<script>
	$('#withdrawal-form').submit(function(e){
		
		// console.log(e);
		amount = parseInt($('#amount').val());
		if (amount < 1000){
			alert('minimum Withdrawal is 1000');
			return false;
		}
		if (amount > {{ current_user.balance }}){
			alert('Sorry, you can only withdraw up to your balance');
			return false;
		}

	});

</script>

{% endblock %}

